@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.backgroundHeader {
    background-image: url("/images/blog.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.try {
    margin-top: 30px;
    width: 120px;
}

.customerService {
    margin-top: 30px;
    width: 155px;
}

.features {
    margin-top: 30px;
    width: 85px;
}

.bannerContentSecondry {
    font-size: 55px;
}

.bannerContentPrimary {
    font-weight: 100;
    font-size: 55px;
}

.bannerContentTrial {
    font-size: 28px;
    padding-left: 50px;
}

.horizontalRow {
    border: 2px solid rgb(189, 59, 22);
    width: 70px;
    background-color: rgb(189, 59, 22);
}

.rowMargin {
    margin-top: 22%;
}

.startHereButton {
    border-radius: 100px;
    border: 1px solid white;
    background-color: rgb(186, 58, 22);
    color: white;
    padding: 10px 60px;
}

.loginButton {
    border-radius: 100px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.buttonBottomMargin {
    margin-bottom: 320px;
}

.buttonBottomMarginFeatures {
    margin-bottom: 130px;
}

.bdr {
    padding-left: 80px;
}

.bdr1 {
    padding-left: 100px;
    color: rgb(68, 68, 68);
}

.bdr2 {
    padding-left: 135px;
}

.bdr3 {
    padding-left: 50px;
}

.bdr4 {
    padding-left: 155px;
}

.bdr5 {
    padding-left: 235px;
}

.imageThemes {
    width: 70%;
}

.whySimplesite {
    background-color: rgb(246, 247, 249);
}

.linkDecoration {
    text-decoration: none;
}

.mobileReady {
    padding-left: 155px;
    padding-top: 100px;
}

.editOnTheGo {
    font-weight: 100;
}

.mobileReadyAlignPrimary {
    float: right;
}

.mobileReadyAlignSecondry {
    text-align: right;
    color: rgb(86, 86, 86);
}

.featuresContentPrimary {
    color: rgb(86, 86, 86);
}

.featuresContentSubHeading {
    margin-left: -50px;
    margin-right: 30px;
    text-align: center;
}

.footer {
    background-color: rgb(51, 51, 51);
}

.navPosition {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

.borderPaddingFeatures {
    padding-left: 50px;
}

.borderPaddingFeatures1 {
    padding-left: 100px;
}

.borderPaddingFeatures3 {
    padding-left: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.borderPaddingFeatures5 {
    padding-left: 80px;
}

.featuresPrimary {
    font-weight: 100;
    font-size: 35px;
}


.featuresContentSecondry {
    font-size: 35px;
}

.backgroundHeaderFeatures {
    background-image: url("/images/featuresBgImage.png");
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.imageMargin {
    margin-left: 80px;
}

.featuresSubHeading {
    margin-left: -15px;
    margin-right: 30px;
    text-align: center;
    font-weight: 300;
}

.tryFeatures {
    margin-top: 30px;
    width: 121px;
}

.backgroundHeaderCustomerService {
    background-image: url("/images/customerServiceBgImage.png");
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.bannerCustomerService {
    font-weight: 300;
}

.hrCustomerService {
    margin-left: 100px;
}

.buttonCustomerService {
    border: none;
}

.navBgColor {
    background-color: white;
}

.navBgColor .text-white {
    color: black !important;
}

.navBgColor .colorChange img {
    filter: invert(100%);
}

.navBgColor .colorChange button {
    border: 1px solid black;
    color: black;
}

.z123 {
    border: 2px solid blue;
}

.faqHeading {
    margin-top: 1rem;
    padding-left: 1rem;
    font-family: Lato;
    font-weight: 400;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
    color: #333;
}

.faq-text {
    font-family: Open Sans;
    font-weight: 400;
    color: #919191;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 100px;
}

.faq {
    width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #E1E1E1;
}

.faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top: 1px;

    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
    display: none;
}

.faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.faq label.faqOpen .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.faq label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq label.faqOpen {
    display: block;
    background: rgba(255, 255, 255, 255) !important;
    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
    display: none;
}

.faqMargin {
    margin-left: -115px;
}

.hrCustomerServiceLowerContent {
    margin-left: 150px;
}

.hrCustomerServiceSubLowerContent {
    margin-left: -40px;
}

.hrCustomerServiceSubLowerContentPara2 {
    margin-left: -180px;
}

.faqOpen .faq-text {
    display: block;
}

.navListNew .fa {
    color: #000;
}

.navListNew .hamburger svg {
    fill: #000;
}

.hamburger {
    display: none;
    padding: 30px 40px;
}

.hamburger svg {
    fill: white;
    height: 20px;
}

.check1 {
    width: 90%;
}

.check {
    width: 10%;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* color: white; */
    /* background-color: rgb(135 135 135); */
    background-color: white;
    width: 200px;
    height: 20em;
    margin-left: 210px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
    color: black;
    list-style-type: none;
    padding: 10px 0px;
}

@media screen and (max-width: 700px) {
    .try,
    .image,
    .customerService,
    .features,
    .horizontalRow,
    .imageThemes,
    .tryFeatures,
    .faq-text,
    .faq,
    .faq-arrow {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .bannerContentTrial,
    .startHereButton,
    .loginButton,
    .bdr,
    .bdr1,
    .bdr2,
    .bdr3,
    .bdr4,
    .bdr5,
    .mobileReady,
    .borderPaddingFeatures,
    .borderPaddingFeatures1,
    .borderPaddingFeatures3,
    .borderPaddingFeatures5 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        padding: 40px;
    }

    .hamburger svg {
        fill: white;
        height: 20px;
        float: right;
        width: 40px;
        height: 35px;
    }

    .site-logo-row,
    .right-language-box {
        display: none !important;
    }
}